# live-build working/output artifacts
live-build/*.iso
live-build/*.img
live-build/*.hybrid.iso
live-build/.build/
live-build/binary/
live-build/chroot/
live-build/chroot.files
live-build/cache/
live-build/local/
live-build/.stage/
live-build/binary.*
live-build/chroot.*
# generated package lists (written by build.sh at build time)
live-build/config/package-lists/sysible-grub.list.chroot
# release staging
live-build/release/
release/
*.deb
